@tailwind base;
@tailwind components;
@tailwind utilities;

@scroll-timeline timeline-name {
  source: auto;
  scroll-direction: vertical;
  range: 0 100%; /* Example range, adjust as needed */
}

#animated-element {
  animation: fadeIn 2s timeline-name infinite;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#show {
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}


  body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-thumb{
    height: 100px;
    background-color: #9DFF50;
  }
  
  body::-webkit-scrollbar-track{
    background-color: #222222;
  }
  .custom-dots {
    position: static !important;
    margin-top: 10px !important;
  }
  .custom-dots .slick-active div {
    background-color: #9DFF50 !important;
  }
  /* the slides */
  .slick-slide {
    padding: 0 10px !important;
    pointer-events: none;
}

/* the parent */
.slick-list {
    margin: 0 -10px !important;
}
#half-black-half-white {
      background: linear-gradient(to top, #222222  70%, #F6F6F6 30%);
}
  